.our-team {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 40px 0 0;

    li {
      list-style-type: none;
      transition: all .3s ease-in-out;

      img {
        &:hover {
          opacity: .6;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .our-team {
    ul {
      li {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .our-team {
    ul {
      li {
        img {
          width: 100%;
        }
      }
    }
  }

  .our-team {
    ul {
      li {
        width: 48%;
        margin: 0 0 15px;
      }
    }
  }

  .our-team {
    ul {
      li {
        &:nth-child(odd) {
          margin-right: 2%;
        }
      }
    }
  }
}