.header {
  margin-bottom: 40px;

  p {
    color: #7d7873;
    font-size: 15px;
    margin: 30px;
  }

  .banner {
    width: 100%;
    height: 450px;
    background: url("../../images/foto-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h1 {
      font-size: 50px;
      color: white;
      margin-bottom: 70px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .banner {
      height: 350px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .banner {
      height: 300px;

      h1 {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .header {
    .banner {
      h1 {
        font-size: 30px;
      }
    }
  }
}