.job {
  font-size: 17px;
  font-weight: 700;

  &>p {
    margin-bottom: 0;
  }

  &-title {
    flex: 1;
    color: #359b9b;
  }

  &-address {
    flex: 1;
    color: #7d7873;
  }
}

@media screen and (min-width: 768px) {
  .job-address {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .job {
    flex-direction: column;

    &-address {
      margin-top: 0;
    }
  }
}
