.main {
  margin: auto;
  width: 95%;
  max-width: 960px;
}

.gray {
  background-color: #f8f8f8;
}

.flex {
  display: flex;
}

.subtitle {
  color: #7d7873;
  font-weight: 700;
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.link {
  display: inline-block;
  background-color: transparent;
  color: #359b9b;
  font-weight: 700;
  font-size: 17px;
  border: none;
  outline: none;
  cursor: pointer;
  &:before {
    display: block;
    content: "";
    border-top: 2px solid #ccc;
    width: 190px;
    height: 2px;
    margin-bottom: 15px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.padding-default {
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .padding-default {
    padding: 20px;
  }
}
