.ceo-word {
  margin-bottom: 40px;

  &-video {
    margin-right: 30px;
  }

  &-description {
    .subtitle {
      small {
        text-transform: none;
        color: #f9a94e;
        font-style: italic;
      }
    }
  }

  p {
    font-size: 15px;
    line-height: 25px;
    color: #7d7873;
  }
}


@media screen and (max-width: 1000px) {
  .ceo-word {
    flex-direction: column;

    &-video {
      order: 2;
      margin-right: 0;

      img {
        width: 100%;
      }
    }

    &-description {
      order: 1;
    }
  }
}