.style-elo7 {
  text-align: center;

  &-item {
    margin-bottom: 20px;

    &-description {
      text-align: justify;
      margin-top: 15px;
      color: #9a9b9a;
    }
  }
}

@media screen and (min-width: 768px) {
  .style-elo7 {
    &-item {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .style-elo7-list {
    flex-direction: column;
  }
}